body{
  background-color: orange;
}
td{
  text-align: center;
  border: 2px solid black;
  width: 140px;
  height: 140px;
  font-size: 70px;
  background-color: grey;
  font-family: t
}
.btn{
  margin-top: 20px;
  margin-left: 47%;
}
#msg{
  color: green;
}
